# Ignore the environment file which contains sensitive information
.env

# Ignore the vendor directory for Composer dependencies
/vendor/

# Ignore specific verification file for Yandex
yandex_172a4a4fb9e0b76f.html
