body {
    background-color: green;
}

header {
    background-color: white;
    color: green;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

header img
{
    float: left;
    background-color: white;
    padding left: 10px;
    border-radius: 15px;
}


section {
    margin: 2%;
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
}



@media only screen and (max-width: 600px) {
    /* styles for screens less than 600px wide */
    /* for example, making font size smaller */
    /* and reducing the width of elements */
    body 
    {
        font-size: 12px
    }
    header 
    {
        font-size: 100px;
    }
}

@media only screen and (max-width: 768px) 
{
    section
    {
        font-size: 20px;
        margin-top: 40%;
    }
}