body {
    background-color: green;
}

header {
    background-color: white;
    color: white;
    text-align: center;
    padding: 20px;
}

header img
{
    float: left;
    background-color: white;
    padding left: 10px;
    border-radius: 15px;
}

/* Section Styles */
.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(30vh);
    flex-wrap: wrap;
}

#section2 {
    padding: 10px;
    text-align: center;
    flex-basis: 100%;
}

.contenu-article {
    margin: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.contenu-section {
    text-align: center;
}

.menu-container a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: white;
    color: #555;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    /* styles for screens less than 600px wide */
    /* for example, making font size smaller */
    /* and reducing the width of elements */
    body {
        font-size: 12px

    }
}

@media only screen and (max-width: 768px) {
  .contenu_section {
    display: flex;
    overflow-x: scroll;
    width:100%;
    padding:10px;
  }

@media (max-width: 600px) {
    header 
    {
    width: 80%;
    margin-left: 20px;
    margin-bottom: 50px;
    }
}


  
   
  nav a {
    flex: 0 0 auto;
    width:50px;
    height:auto;
    background-color:white;
    color: #555;
    border-radius: 5px;
    text-align:center;
    margin-right:10px;
    padding:10px;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
    
}

@media (max-width: 800px) {
body {
font-size: 12px;
}
}

@media only screen and (max-width: 768px) 
{
    .contenu-article
    {
        margin-top: 50%;
    }
}